In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
train.shape

(1460, 81)

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 935.3+ KB

In [6]:
#Combining train and test set
target = train.SalePrice
train.drop(['SalePrice'],axis=1,inplace=True)

In [7]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [8]:
whole = train.append(test)

In [9]:
whole.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [10]:
numeric_feature_type = ['int64','float64']

In [11]:
whole = whole.select_dtypes(numeric_feature_type)

In [12]:
whole.shape

(2919, 37)

In [13]:
whole.LotFrontage.fillna(0,inplace=True)

In [14]:
whole.MasVnrArea.fillna(0,inplace=True)

In [15]:
whole.BsmtFinSF1.fillna(0,inplace=True)

In [16]:
whole.BsmtFinSF2.fillna(0,inplace=True)

In [17]:
whole.BsmtUnfSF.fillna(0,inplace=True)

In [18]:
whole.TotalBsmtSF.fillna(0,inplace=True)

In [19]:
whole.BsmtFullBath.fillna(0,inplace=True)

In [20]:
whole.BsmtHalfBath.fillna(0,inplace=True)

In [21]:
whole.GarageCars.fillna(0,inplace=True)

In [22]:
whole.GarageArea.fillna(0,inplace=True)

In [23]:
whole.TotalBsmtSF.fillna(0,inplace=True)

In [24]:
whole.drop(['GarageYrBlt','Id'],inplace=True,axis=1)

In [25]:
whole.shape

(2919, 35)

In [26]:
whole.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 35 columns):
MSSubClass       2919 non-null int64
LotFrontage      2919 non-null float64
LotArea          2919 non-null int64
OverallQual      2919 non-null int64
OverallCond      2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
MasVnrArea       2919 non-null float64
BsmtFinSF1       2919 non-null float64
BsmtFinSF2       2919 non-null float64
BsmtUnfSF        2919 non-null float64
TotalBsmtSF      2919 non-null float64
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
LowQualFinSF     2919 non-null int64
GrLivArea        2919 non-null int64
BsmtFullBath     2919 non-null float64
BsmtHalfBath     2919 non-null float64
FullBath         2919 non-null int64
HalfBath         2919 non-null int64
BedroomAbvGr     2919 non-null int64
KitchenAbvGr     2919 non-null int64
TotRmsAbvGrd     2919 non-null int64
Fireplaces       2919 non-null int64
GarageCars       2919 non-null float64
GarageArea       2919 non-null float64
WoodDeckSF       2919 non-null int64
OpenPorchSF      2919 non-null int64
EnclosedPorch    2919 non-null int64
3SsnPorch        2919 non-null int64
ScreenPorch      2919 non-null int64
PoolArea         2919 non-null int64
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
YrSold           2919 non-null int64
dtypes: float64(10), int64(25)
memory usage: 821.0 KB

In [27]:
#from sklearn.preprocessing import StandardScaler

In [28]:
#sr = StandardScaler()

In [29]:
#temp_df = sr.fit_transform(whole)

In [30]:
#whole = pd.DataFrame(temp_df,index=whole.index,columns=whole.columns)

In [31]:
whole.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,60,65,8450,7,5,2003,2003,196,706,0,...,548,0,61,0,0,0,0,0,2,2008
1,20,80,9600,6,8,1976,1976,0,978,0,...,460,298,0,0,0,0,0,0,5,2007
2,60,68,11250,7,5,2001,2002,162,486,0,...,608,0,42,0,0,0,0,0,9,2008
3,70,60,9550,7,5,1915,1970,0,216,0,...,642,0,35,272,0,0,0,0,2,2006
4,60,84,14260,8,5,2000,2000,350,655,0,...,836,192,84,0,0,0,0,0,12,2008

In [32]:
whole.shape

(2919, 35)

In [33]:
cat_features_type = ['object']
cat_feature = train.select_dtypes(include=cat_features_type)

In [34]:
cat_feature.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1,RL,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
2,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
3,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Abnorml
4,RL,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [35]:
cat_feature_list = ['MSZoning','OverallQual','LandContour','Neighborhood','SaleCondition']

In [36]:
cat_features_frame = train[cat_feature_list].append(test[cat_feature_list])

In [37]:
cat_features_frame.head()

  MSZoning  OverallQual LandContour Neighborhood SaleCondition
0       RL            7         Lvl      CollgCr        Normal
1       RL            6         Lvl      Veenker        Normal
2       RL            7         Lvl      CollgCr        Normal
3       RL            7         Lvl      Crawfor       Abnorml
4       RL            8         Lvl      NoRidge        Normal

In [38]:
cat_features_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 5 columns):
MSZoning         2915 non-null object
OverallQual      2919 non-null int64
LandContour      2919 non-null object
Neighborhood     2919 non-null object
SaleCondition    2919 non-null object
dtypes: int64(1), object(4)
memory usage: 136.8+ KB

In [39]:
cat_features_frame.MSZoning.fillna('None',inplace=True)

In [40]:
cat_features_frame.MSZoning.value_counts()

RL         2265
RM          460
FV          139
RH           26
C (all)      25
None          4
Name: MSZoning, dtype: int64

In [41]:
msz_dummies = pd.get_dummies(cat_features_frame['MSZoning'],prefix="MSZoning")
cat_features_frame = pd.concat([cat_features_frame,msz_dummies],axis=1)

In [42]:
#oq_dummies = pd.get_dummies(cat_features_frame['OverallQual'],prefix="OverallQual")
#cat_features_frame = pd.concat([cat_features_frame,oq_dummies],axis=1)

In [43]:
#lc_dummies = pd.get_dummies(cat_features_frame['LandContour'],prefix="LandContour")
#cat_features_frame = pd.concat([cat_features_frame,lc_dummies],axis=1)

In [44]:
#nh_dummies = pd.get_dummies(cat_features_frame['Neighborhood'],prefix="Neighborhood")
#cat_features_frame = pd.concat([cat_features_frame,nh_dummies],axis=1)

In [45]:
#sn_dummies = pd.get_dummies(cat_features_frame['SaleCondition'],prefix="SaleCondition")
#cat_features_frame = pd.concat([cat_features_frame,sn_dummies],axis=1)

In [46]:
cat_features_frame.drop(cat_feature_list,inplace=True,axis=1)

In [47]:
cat_features_frame.head()

,MSZoning_C (all),MSZoning_FV,MSZoning_None,MSZoning_RH,MSZoning_RL,MSZoning_RM
0,0,0,0,0,1,0
1,0,0,0,0,1,0
2,0,0,0,0,1,0
3,0,0,0,0,1,0
4,0,0,0,0,1,0

In [48]:
#whole = whole.append(cat_features_frame)

In [49]:
#whole.head()

In [50]:
#whole.isnull().any()

In [51]:
from sklearn.ensemble import RandomForestRegressor

In [52]:
regressor = RandomForestRegressor(n_estimators=100,random_state=0)

In [53]:
regressor.fit(whole.iloc[0:1460,:],target)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [54]:
prediction = regressor.predict(whole.iloc[1460:2919,:])

In [55]:
my_submission = pd.DataFrame({'Id': whole.iloc[1460:2919,:].index+1461, 'SalePrice': prediction})
# you could use any filename. We choose submission here
my_submission.to_csv('submission.csv', index=False)

In [56]:
from xgboost import XGBRegressor

In [57]:
xgregressor = XGBRegressor(n_estimators=1000,random_state=0)

In [58]:
xgregressor.fit(whole.iloc[0:1460,:],target)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=1000,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [59]:
prediction1 = xgregressor.predict(whole.iloc[1460:2919,:])

In [60]:
my_submission = pd.DataFrame({'Id': whole.iloc[1460:2919,:].index+1461, 'SalePrice': prediction1})
# you could use any filename. We choose submission here
my_submission.to_csv('submission1.csv', index=False)