In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
%matplotlib inline

train = pd.read_csv('train.csv')
train.head()

,ID,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000d6aaf2,38000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,000fbd867,600000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,0027d6b71,10000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
3,0028cbf45,2000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
4,002a68644,14400000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0

In [2]:
train.describe()

,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,20aa07010,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
count,4.459000e+03,4.459000e+03,4.459000e+03,4.459000e+03,4.459000e+03,4.459000e+03,4.459000e+03,4.459000e+03,4.459000e+03,4.459000e+03,...,4.459000e+03,4.459000e+03,4.459000e+03,4.459000e+03,4459.000000,4.459000e+03,4.459000e+03,4.459000e+03,4.459000e+03,4.459000e+03
mean,5.944923e+06,1.465493e+04,1.390895e+03,2.672245e+04,4.530164e+03,2.640996e+04,3.070811e+04,1.686522e+04,4.669208e+03,2.569407e+06,...,4.676057e+05,4.446239e+05,8.056219e+05,7.812966e+05,143.529939,1.213809e+05,3.573451e+04,3.123741e+05,9.219960e+04,2.279100e+05
std,8.234312e+06,3.893298e+05,6.428302e+04,5.699652e+05,2.359124e+05,1.514730e+06,5.770590e+05,7.512756e+05,1.879449e+05,9.610183e+06,...,4.068038e+06,4.428889e+06,4.513246e+06,6.839451e+06,9584.318507,4.720709e+06,1.614622e+06,4.318501e+06,1.635993e+06,1.811139e+06
min,3.000000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.000000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.260000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,8.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+05,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,4.000000e+07,2.000000e+07,4.000000e+06,2.000000e+07,1.480000e+07,1.000000e+08,2.070800e+07,4.000000e+07,1.040000e+07,3.196120e+08,...,7.600000e+07,1.235880e+08,1.300000e+08,1.444000e+08,640000.000000,3.013120e+08,1.064200e+08,1.400000e+08,6.176800e+07,4.320000e+07

In [3]:
train.shape

(4459, 4993)

In [4]:
test = pd.read_csv('test.csv')

In [5]:
test.head()

,ID,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,20aa07010,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000137c73,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00021489f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0004d7953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00056a333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,00056d8eb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
train.info

<bound method DataFrame.info of              ID       target  48df886f9  0deb4b6a8  34b15f335  a8cb14b00  \
0     000d6aaf2  38000000.00        0.0          0        0.0          0
1     000fbd867    600000.00        0.0          0        0.0          0
2     0027d6b71  10000000.00        0.0          0        0.0          0
3     0028cbf45   2000000.00        0.0          0        0.0          0
4     002a68644  14400000.00        0.0          0        0.0          0
5     002dbeb22   2800000.00        0.0          0        0.0          0
6     003925ac6    164000.00        0.0          0        0.0          0
7     003eb0261    600000.00        0.0          0        0.0          0
8     004b92275    979000.00        0.0          0        0.0          0
9     0067b4fef    460000.00        0.0          0        0.0          0
10    00689ee2c   1100000.00        0.0          0        0.0          0
11    0069007ac  16000000.00        0.0          0        0.0          0
12    006b60dd7    354000.00        0.0          0        0.0          0
13    008057126   7000000.00        0.0          0        0.0          0
14    008825875    100000.00        0.0          0        0.0          0
15    0096e207e    800000.00        0.0          0        0.0          0
16    00c2deb75    200000.00        0.0          0        0.0          0
17    00ce2134f   3600000.00        0.0          0        0.0          0
18    00e7ba121   2786000.00        0.0          0        0.0          0
19    00ecc53f2     40000.00        0.0          0        0.0          0
20    00fb69afe   1600000.00        0.0          0        0.0          0
21    00fc78888   3266666.66        0.0          0        0.0          0
22    0110c05db   6140000.00        0.0          0        0.0          0
23    0126abf21  14886000.00        0.0          0        0.0          0
24    012800ace    833333.34        0.0          0        0.0          0
25    012d8bc84    400000.00        0.0          0        0.0          0
26    012d9baab   6500000.00        0.0          0        0.0          0
27    01346ebb9   1700000.00        0.0          0        0.0          0
28    013842698    933333.34        0.0          0        0.0          0
29    01432f2c7   4000000.00        0.0          0        0.0          0
...         ...          ...        ...        ...        ...        ...
4429  fdf7658f0   1066666.66        0.0          0        0.0          0
4430  fe02247d5  20100000.00        0.0          0        0.0          0
4431  fe0c5726a  20000000.00        0.0          0        0.0          0
4432  fe22d064a  20000000.00        0.0          0        0.0          0
4433  fe243db29   2200000.00        0.0          0        0.0          0
4434  fe497b462     74000.00        0.0          0        0.0          0
4435  fe5414c97    800000.00        0.0          0        0.0          0
4436  fe596c7c2  20000000.00        0.0          0        0.0          0
4437  fe7595983   5000000.00        0.0          0        0.0          0
4438  fe800ed37   6000000.00        0.0          0        0.0          0
4439  fe808da78   4666666.66        0.0          0        0.0          0
4440  feb1ad7a8     60000.00        0.0          0        0.0          0
4441  febbda7c9    600000.00        0.0          0        0.0          0
4442  fed131a60   2000000.00        0.0          0        0.0          0
4443  fef33cb02    528666.66        0.0          0        0.0          0
4444  fef8c8005    300000.00        0.0          0        0.0          0
4445  ff0dccf66   1000000.00        0.0          0        0.0          0
4446  ff2320d84  10000000.00        0.0          0        0.0          0
4447  ff2558703   4000000.00        0.0          0        0.0          0
4448  ff34496ea   3250000.00        0.0          0        0.0          0
4449  ff3d0e888  10000000.00        0.0          0        0.0          0
4450  ff3e1f24c  21700000.00        0.0          0        0.0          0
4451  ff7b7c367  21320000.00        0.0          0        0.0          0
4452  ff7be29d2    400000.00        0.0          0        0.0          0
4453  ff7cdeb16   4000000.00        0.0          0        0.0          0
4454  ff85154c8   1065000.00        0.0          0        0.0          0
4455  ffb6b3f4f     48000.00        0.0          0        0.0          0
4456  ffcf61eb6   2800000.00        0.0          0        0.0          0
4457  ffea67e98  10000000.00        0.0          0        0.0          0
4458  ffeb15d25  20000000.00        0.0          0        0.0          0

      2f0771a37  30347e683  d08d1fbe3  6ee66e115    ...      3ecc09859  \
0             0          0          0          0    ...            0.0
1             0          0          0          0    ...            0.0
2             0          0          0          0    ...            0.0
3             0          0          0          0    ...            0.0
4             0          0          0          0    ...            0.0
5             0          0          0          0    ...        12000.0
6             0          0          0          0    ...            0.0
7             0          0          0          0    ...            0.0
8             0          0          0          0    ...            0.0
9             0          0          0          0    ...            0.0
10            0          0          0          0    ...            0.0
11            0          0          0          0    ...            0.0
12            0          0          0          0    ...            0.0
13            0          0          0          0    ...            0.0
14            0          0          0          0    ...            0.0
15            0          0          0          0    ...            0.0
16            0          0          0          0    ...            0.0
17            0          0          0          0    ...            0.0
18            0          0          0          0    ...            0.0
19            0          0          0          0    ...            0.0
20            0          0          0          0    ...            0.0
21            0          0          0          0    ...            0.0
22            0          0          0          0    ...            0.0
23            0          0          0          0    ...            0.0
24            0          0          0          0    ...            0.0
25            0          0          0          0    ...            0.0
26            0          0          0          0    ...            0.0
27            0          0          0          0    ...            0.0
28            0          0          0          0    ...            0.0
29            0          0          0          0    ...            0.0
...         ...        ...        ...        ...    ...            ...
4429          0          0          0          0    ...            0.0
4430          0          0          0          0    ...            0.0
4431          0          0          0          0    ...            0.0
4432          0          0          0          0    ...            0.0
4433          0          0          0          0    ...      2800000.0
4434          0          0          0          0    ...            0.0
4435          0          0          0          0    ...            0.0
4436          0          0          0          0    ...        40000.0
4437          0          0          0          0    ...            0.0
4438          0          0          0          0    ...            0.0
4439          0          0          0          0    ...            0.0
4440          0          0          0          0    ...            0.0
4441          0          0          0          0    ...            0.0
4442          0          0          0          0    ...            0.0
4443          0          0          0          0    ...      1674000.0
4444          0          0          0          0    ...            0.0
4445          0          0          0          0    ...            0.0
4446          0          0          0          0    ...            0.0
4447          0          0          0          0    ...            0.0
4448          0          0          0          0    ...            0.0
4449          0          0          0          0    ...            0.0
4450          0          0          0          0    ...            0.0
4451          0          0          0          0    ...            0.0
4452          0          0          0          0    ...            0.0
4453          0          0          0          0    ...            0.0
4454          0          0          0          0    ...            0.0
4455          0          0          0          0    ...            0.0
4456          0          0          0          0    ...            0.0
4457          0          0          0          0    ...            0.0
4458          0          0          0          0    ...            0.0

      9281abeea   8675bec0b  3a13ed79a  f677d4d13  71b203550  137efaa80  \
0           0.0         0.0          0          0          0          0
1           0.0         0.0          0          0          0          0
2           0.0         0.0          0          0          0          0
3           0.0         0.0          0          0          0          0
4           0.0         0.0          0          0          0          0
5     5600000.0  20000000.0          0          0          0          0
6           0.0         0.0          0          0          0      40000
7           0.0         0.0          0          0          0          0
8           0.0   4000000.0          0          0          0          0
9           0.0         0.0          0          0          0          0
10          0.0    400000.0          0          0          0          0
11          0.0         0.0          0          0          0          0
12          0.0         0.0          0          0          0          0
13          0.0   2100000.0          0          0          0          0
14          0.0         0.0          0          0          0          0
15          0.0         0.0          0          0          0          0
16          0.0         0.0          0          0          0          0
17          0.0         0.0          0          0          0          0
18          0.0   7280000.0          0          0          0          0
19          0.0         0.0          0          0          0          0
20          0.0         0.0          0          0          0          0
21          0.0         0.0          0          0          0          0
22          0.0         0.0          0          0          0          0
23          0.0    300000.0          0          0          0          0
24          0.0         0.0          0          0          0          0
25          0.0         0.0          0          0          0          0
26    9500000.0         0.0          0          0          0          0
27          0.0         0.0          0          0          0          0
28    2000000.0         0.0          0          0          0          0
29          0.0         0.0          0          0          0          0
...         ...         ...        ...        ...        ...        ...
4429        0.0         0.0          0          0          0          0
4430        0.0         0.0          0          0          0          0
4431        0.0         0.0          0          0          0          0
4432        0.0         0.0          0          0          0          0
4433        0.0   4500000.0          0          0          0          0
4434        0.0    600000.0          0          0          0          0
4435        0.0         0.0          0          0          0          0
4436        0.0         0.0          0          0          0          0
4437        0.0   5000000.0          0          0          0          0
4438        0.0         0.0          0          0          0          0
4439        0.0         0.0          0          0          0          0
4440  1106000.0         0.0          0          0          0          0
4441        0.0         0.0          0          0          0          0
4442        0.0         0.0          0          0          0          0
4443        0.0   3822750.0    6462000          0          0          0
4444        0.0         0.0          0          0          0          0
4445        0.0         0.0          0          0          0          0
4446        0.0         0.0          0          0          0          0
4447        0.0         0.0          0          0          0          0
4448        0.0         0.0          0          0          0          0
4449        0.0         0.0          0          0          0          0
4450        0.0         0.0          0          0          0          0
4451        0.0         0.0          0          0          0          0
4452        0.0         0.0          0          0          0          0
4453        0.0         0.0          0          0          0          0
4454        0.0         0.0          0          0          0          0
4455        0.0     80000.0          0          0          0          0
4456        0.0         0.0          0          0          0          0
4457        0.0         0.0          0          0          0          0
4458        0.0         0.0          0          0          0          0

      fb36b89d9  7e293fbaf  9fc776466
0             0          0          0
1             0          0          0
2             0          0          0
3             0          0          0
4             0          0          0
5             0          0      11000
6             0          0          0
7             0          0          0
8             0          0          0
9             0          0     400000
10            0          0          0
11            0          0          0
12            0          0          0
13            0          0          0
14            0          0          0
15            0          0          0
16            0          0          0
17            0          0          0
18            0          0          0
19            0          0          0
20            0          0          0
21            0          0          0
22            0          0          0
23            0          0          0
24            0          0          0
25            0      26000          0
26            0          0          0
27            0          0          0
28            0          0          0
29            0          0          0
...         ...        ...        ...
4429          0          0          0
4430          0          0          0
4431          0          0          0
4432          0          0          0
4433   50000000          0          0
4434          0          0          0
4435          0          0          0
4436          0          0          0
4437          0          0          0
4438          0          0          0
4439          0          0          0
4440          0          0          0
4441          0          0          0
4442          0          0          0
4443          0          0   14650000
4444          0          0          0
4445          0          0          0
4446          0          0          0
4447          0          0          0
4448          0          0          0
4449          0          0          0
4450          0          0          0
4451          0          0          0
4452          0          0          0
4453          0          0          0
4454          0          0          0
4455          0          0          0
4456          0          0          0
4457          0          0          0
4458          0          0          0

[4459 rows x 4993 columns]>

In [7]:
target = train['target']

In [8]:
target.head()

0    38000000.0
1      600000.0
2    10000000.0
3     2000000.0
4    14400000.0
Name: target, dtype: float64

In [9]:
train.drop(['target','ID'],inplace = True,axis=1)

In [10]:
train.head()

,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,20aa07010,dc5a8f1d8,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,0.0,0,0.0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,0.0,0,0.0,0,0,0,0,0,2200000.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,0.0,0,0.0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
3,0.0,0,0.0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
4,0.0,0,0.0,0,0,0,0,0,2000000.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0

In [11]:
from sklearn import linear_model

In [12]:
lr = linear_model.LinearRegression()

In [13]:
lr.fit(train,target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [14]:
ids = test['ID']

In [15]:
test.drop(['ID'],inplace=True,axis=1)

In [16]:
pred = lr.predict(test)

In [17]:
my_submission = pd.DataFrame({'ID': ids, 'target': pred})
# you could use any filename. We choose submission here
my_submission.to_csv('submission1.csv', index=False)

In [18]:
from sklearn import tree

In [19]:
dtr = tree.DecisionTreeRegressor()

In [20]:
dtr.fit(train,target)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [21]:
pred1 = lr.predict(test)

In [22]:
my_submission = pd.DataFrame({'ID': ids, 'target': pred})
# you could use any filename. We choose submission here
my_submission.to_csv('submission2.csv', index=False)