In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

/usr/lib/python2.7/dist-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [4]:
%matplotlib inline

In [5]:
train = pd.read_csv('train.csv')

In [6]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
train.shape

(1460, 81)

In [9]:
#81 rows and 1460 columns
#let's apply basic linear regression using simple 5 features.
#Let's look at description of dataset.

In [26]:
col_x = ['MSZoning','LotArea','LotShape','Neighborhood','HouseStyle','SalePrice']

In [27]:
x = train[col_x]

In [28]:
x.head()

  MSZoning  LotArea LotShape Neighborhood HouseStyle  SalePrice
0       RL     8450      Reg      CollgCr     2Story     208500
1       RL     9600      Reg      Veenker     1Story     181500
2       RL    11250      IR1      CollgCr     2Story     223500
3       RL     9550      IR1      Crawfor     2Story     140000
4       RL    14260      IR1      NoRidge     2Story     250000

In [29]:
#let's plot some charts and see how above features affect SalePrice

In [34]:
# plt.plot(kind='scatter',x='LotArea',y='SalePrice')
import seaborn as sns

In [35]:
sns.set